body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:70px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u313 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
