body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u316_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:5px;
}
#u316 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u317 {
  position:absolute;
  left:2px;
  top:-7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:72px;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:69px;
}
#u319 {
  position:absolute;
  left:2px;
  top:26px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:5px;
}
#u320 {
  position:absolute;
  left:1px;
  top:68px;
  width:10px;
  height:2px;
}
#u321 {
  position:absolute;
  left:2px;
  top:-7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:49px;
}
#u322 {
  position:absolute;
  left:12px;
  top:10px;
  width:88px;
  height:49px;
}
#u323 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
