/*说明*/
/*Designed By Cookie：*/
@charset "utf-8";
/*项目自定义样式*/
.slide2 .pic1{
	background:url(../img/p2/1.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	position: absolute;
}
.slide2 .pic11{
	background:url(../img/p2/11.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	position: absolute;
}
.slide2 .pic2{
	background:url(../img/p2/2.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	position: absolute;
}
.slide2 .pic3{
	background:url(../img/p2/3.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	position: absolute;
}
.slide2 .pic35{
	background:url(../img/p2/35.PNG) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	position: absolute;
}
.slide2 .pic4{
	background:url(../img/p2/4.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	position: absolute;
}
.slide2 .pic5{
	background:url(../img/p2/5.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
}
.slide2 .pic55{
	background:url(../img/p2/55.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	position: absolute;
}
.slide2>.title{
	background: url(../img/p2/title.png) no-repeat;
	background-size: 100% 100%;
	width: 12.04rem;
	height: 3.375rem;
	position: absolute;
	top: 5.8%;
	left: calc(50% - 6.02rem);
}
.circle {
    width: 20px;
    height: 20px;
    background: whitesmoke;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /*border-radius: 50px;*/
    border-radius: 50%;
    /*border: 2px solid orange;*/
    position: absolute;
    z-index: 99;
    /*color: red;
    margin: 0 auto;*/
}
.bbb{
	/*animation:bbb ;
	-webkit-animation:bbb ;*/
	-webkit-animation-name: bbb;
	animation-name: bbb;
	/*animation-fill-mode: forwards;*/
}
@keyframes bbb{
	0%{
		opacity: 0;
		/*transform: scale(0);
		-webkit-transform: scale(0);*/
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;
		/*transform: scale(2);
		-webkit-transform: scale(2);*/
	}
}
@-webkit-keyframes bbb{
	0%{
		opacity: 0;
		/*transform: scale(0);
		-webkit-transform: scale(0);*/
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;
		/*transform: scale(2);
		-webkit-transform: scale(2);*/
	}
}
.cp0{
	position: absolute;
	left: calc(50% - 10px);
	top: 66%;
}
.cp1{
	position: absolute;
	left: 12%;
	top: 6%;
}
.cp2{
	position: absolute;
	left: calc(50% - 10px);
	top: 59%;
}
.cp3{
	position: absolute;
	right: 10%;
	bottom: 2%;
}
.cp4{
	position: absolute;
	top: 93%;
	left: 3%;
	background: red;
}
.cp5{
	position: absolute;
	top: 41%;
	left: calc(50% - 10px);
	background: whitesmoke;
}
.cp6{
	position: absolute;
	top: 50%;
	left: calc(50% - 10px);
	background: red;
}
.mask{
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.3;
	width: 100%;
	height: 100%;
}
.iphone{
	background: url(../img/p2/iphone.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
.mb_3{
	background: url(../img/p2/mb/3.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}
.mb_2{
	background: url(../img/p2/mb/2.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}
.mb_1{
	background: url(../img/p2/mb/1.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}
.mb_start{
	background: url(../img/p2/mb/xdstart.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}
@-webkit-keyframes mb_1{
	0%{
		-webkit-background: url(../img/p2/mb/3.png) no-repeat;
	}
	33%{
		-webkit-background: url(../img/p2/mb/2.png) no-repeat;
	}
	66%{
		-webkit-background: url(../img/p2/mb/1.png) no-repeat;
	}
	100%{
		-webkit-background: url(../img/p2/mb/xdstart.png) no-repeat;
	}
}
@keyframes mb_1{
	0%{
		background: url(../img/p2/mb/3.png) no-repeat;
	}
	33%{
		background: url(../img/p2/mb/2.png) no-repeat;
	}
	66%{
		background: url(../img/p2/mb/1.png) no-repeat;
	}
	100%{
		background: url(../img/p2/mb/xdstart.png) no-repeat;
	}
}
.btn_zkyb{
	background: url(../img/p2/btn_zkyb.png) no-repeat;
	background-size: 100% 100%;
	width: 8.75rem;
	height: 2rem;
	position: absolute;
	bottom: 1.5rem;
	left: calc(50% - 4.375rem);
}
.slide1>.jxzz{
	position: absolute;
	background: url(../img/p1/title.png) no-repeat;
	background-size: 100% 100%;
	width: 20.3rem;
	height: 3.375rem;
	left: calc(50% - 10.15rem);
	top: 40%;
}
.pa{
	position: absolute;
	top: 0;
	left: 0;
}
.bmh5logo{
	background: url(../img/bm/logo.png) no-repeat;
	background-size: 100% 100%;
	width: 9rem;
	height: 1.5rem;
	position: absolute;
	top: 5px;
	left: 5px;
}