body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:109px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:76px;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:76px;
}
#u292 {
  position:absolute;
  left:2px;
  top:30px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u293 {
  position:absolute;
  left:0px;
  top:20px;
  width:109px;
  height:36px;
}
#u294 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
