/*说明*/


/*Designed By Cookie：*/

@charset "utf-8";

html,
body {
	/*text-align: center;*/
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}

a,
button {
	-webkit-tap-highlight-color: transparent
}

a:active,
a:hover,
button,
input,
select,
textarea {
	outline: 0
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

#loading {
	position: absolute;
	z-index: 10000;
	display: -webkit-box;
	width: 101%;
	height: 100%;
	background: #000;
	background-size: cover;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	text-align: center
}

#loading-num {
	position: absolute;
	padding: 0;
	top: 50%;
	left: 50%;
	height: 18px;
	width: 40px;
	text-align: center;
	color: #fff;
	font-family: arial;
	font-size: 15px;
	margin-left: -20px;
	margin-top: -9px
}

.loader {
	color: #fff;
	font-size: 45px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 20px auto;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.5s infinite ease;
	animation: load6 1.5s infinite ease
}

@-webkit-keyframes load6 {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em
	}

	5%,
	95% {
		box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em
	}

	10%,
	59% {
		box-shadow: 0 -.83em 0 -.4em, -.087em -.825em 0 -.42em, -.173em -.812em 0 -.44em, -.256em -.789em 0 -.46em, -.297em -.775em 0 -.477em
	}

	20% {
		box-shadow: 0 -.83em 0 -.4em, -.338em -.758em 0 -.42em, -.555em -.617em 0 -.44em, -.671em -.488em 0 -.46em, -.749em -.34em 0 -.477em
	}

	38% {
		box-shadow: 0 -.83em 0 -.4em, -.377em -.74em 0 -.42em, -.645em -.522em 0 -.44em, -.775em -.297em 0 -.46em, -.82em -.09em 0 -.477em
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em
	}
}

@keyframes load6 {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em
	}

	5%,
	95% {
		box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em
	}

	10%,
	59% {
		box-shadow: 0 -.83em 0 -.4em, -.087em -.825em 0 -.42em, -.173em -.812em 0 -.44em, -.256em -.789em 0 -.46em, -.297em -.775em 0 -.477em
	}

	20% {
		box-shadow: 0 -.83em 0 -.4em, -.338em -.758em 0 -.42em, -.555em -.617em 0 -.44em, -.671em -.488em 0 -.46em, -.749em -.34em 0 -.477em
	}

	38% {
		box-shadow: 0 -.83em 0 -.4em, -.377em -.74em 0 -.42em, -.645em -.522em 0 -.44em, -.775em -.297em 0 -.46em, -.82em -.09em 0 -.477em
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		box-shadow: 0 -.83em 0 -.4em, 0 -.83em 0 -.42em, 0 -.83em 0 -.44em, 0 -.83em 0 -.46em, 0 -.83em 0 -.477em
	}
}


/*music自定义*/

.music {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	width: 2.5rem;
	height: 2.5rem;
	background-color:transparent;
	border: .125rem solid #fff;
	z-index: 99;
	padding: 0.166666666667rem;
	border-radius: 50%;
	text-align: center;
	-webkit-animation: musicani 5s infinite linear;
	animation: musicani 5s infinite linear;
}

.music>img {
	width: 90%;
}

@-webkit-keyframes musicani {
	0% {
		-webkit-transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes musicani {
	0% {
		-webkit-transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

.paused {
	opacity: .4;
	-webkit-animation: none;
	animation: none
}

.up-arrow {
	position: absolute;
	top: 90%;
	left: 50%;
	width: 2.5rem;
	height: 2.5rem;
	/*margin-left: -1.25rem;*/
	z-index: 99;
	-webkit-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);
	-webkit-animation: upArrowAni 2s infinite linear;
	animation: upArrowAni 2s infinite linear
}

@-webkit-keyframes upArrowAni {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%,30%,0);
		transform: translate3d(-50%,30%,0)
	}

	30% {
		opacity: 1;
		-webkit-transform: translate3d(-50%,-20%,0);
		transform: translate3d(-50%,-20%,0)
	}

	60% {
		opacity: 0;
		-webkit-transform: translate3d(-50%,-35%,0);
		transform: translate3d(-50%,-35%,0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0)
	}
}

@keyframes upArrowAni {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%,30%,0);
		transform: translate3d(-50%,30%,0)
	}

	30% {
		opacity: 1;
		-webkit-transform: translate3d(-50%,-20%,0);
		transform: translate3d(-50%,-20%,0)
	}

	60% {
		opacity: 0;
		-webkit-transform: translate3d(-50%,-35%,0);
		transform: translate3d(-50%,-35%,0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0)
	}
}

.swiper-container {
	width: 100%;
	height: 100%;
	/*background: url(../img/bg/p1_bg.jpg);*/
	background-size: cover;
	-webkit-transition: background 1.2s;
	-moz-transition: background 1.2s;
	transition: background 1.2s
}

.swiper-wrapper {
	-webkit-backface-visibility: hidden
}

.swiper-slide {
	text-align: center;
	font-size: 12px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center
}

#test1 {
	animate-duration: 1s;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animate-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animate-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1
}

#test2 {
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1
}

.slide1 {
	position: relative;
	background: url(../img/bg1.jpg) no-repeat;
	background-size: 100% 100%;
}
.slide1>.bmlogo{
	position: absolute;
	top: 12%;
	left: 18%;
	width: 8rem;
}
.slide1>.word1{
	position: absolute;
	top: 12.8%;
	left: 46%;
	font-size: 2rem;
	color: white;
	font-family:楷体;
}
.slide1>.word2{
	position: absolute;
	top: 28%;
	left: 0%;
	width: 100%;
	font-size: 2.5rem;
	color: white;
	border: 0;
	padding: 0;
	font-family:"楷体";
	letter-spacing:1px;
}
.slide1>.word_title{
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	font-size:2.5rem;
	color: white;
	font-family:"楷体";
	letter-spacing:1px;
}
.slide1>.yqh{
	position: absolute;
	left: 50%;
	top: 45%;
	width: 13rem;
	margin-left: -6.5rem;
}
.slide1>.timer{
	position: absolute;
	left: 9%;
	top: 73.3%;
	width: 1.5rem;
}
.slide1>.pos{
	position: absolute;
	left: 9.3%;
	top: 79%;
	width: 1.3rem;
}
.slide1>.word3{
	position: absolute;
	left: 17%;
	top: 72.8%;
	color: white;
	font-family:"微软雅黑";
	font-size: 1.5rem;
	letter-spacing:1px;
	/*font-weight: 100;*/
}
.slide1>.word4{
	position: absolute;
	left: 17%;
	top: 79%;
	color: white;
	font-family:"微软雅黑";
	font-size: 1.5rem;
	letter-spacing:1px;
	/*font-weight: 100;*/
}

.slide2 {
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.slide2>.title{
	position: absolute;
	top: calc(7% + 0.25rem);
	left: -12%;
	width: 100%;
	font-size: 2rem;
	color: #fff;
	font-family: "微软雅黑"
}
.slide2>.bmlogo{
	position: absolute;
	top: 7%;
	left: 61%;
	width: 7rem
}
.one_word{
	position: absolute;
	left: 5%;
	top: 9rem;
	text-align: left;
	color: white;
	font-family: "微软雅黑";
	font-size: 1.2rem;
}
.two_word{
	position: absolute;
	left: 5%;
	top: 17rem;
	text-align: left;
	color: white;
	font-family: "微软雅黑";
	font-size: 1.2rem;
}
.three_word{
	position: absolute;
	left: 5%;
	top: 25rem;
	text-align: left;
	color: white;
	font-family: "微软雅黑";
	font-size: 1.2rem;
}
.four_word{
	position: absolute;
	left: 5%;
	top: 33rem;
	text-align: left;
	color: white;
	font-family: "微软雅黑";
	font-size: 1.2rem;
}
.pic_1{
	position: absolute;
	top: 9.5rem;/*12.2475rem*/
	right: 10%;
	width: 5rem;/*4.5rem|6.5025*/
}
.pic_2{
	position: absolute;
	top: 17.5rem;
	right: 10%;
	width: 5rem;
}
.pic_3{
	position: absolute;
	top: 25.5rem;
	right: 10%;
	width: 5rem;
}
.pic_4{
	position: absolute;
	top: 33.5rem;
	right: 10%;
	width: 5rem;
}
.slide2>.bottom{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.slide3 {
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.slide3>.title{
	position: absolute;
	top: 6%;
	left: 0;
	width: 100%;
	font-size: 2rem;
	color: white;
	font-family:"微软雅黑";
}
.slide3>.p3_pic1{
	position: absolute;
	top: 12%;
	left: 5%;
	width: 90%;
}
.slide3>.p3_word2{
	position: absolute;
	color: white;
	top: 65%;
	left: 0%;
	width: 100%;
	font-size: 2rem;
	font-family:"微软雅黑";
	letter-spacing:1rem
}
.slide3>.p3_word3{
	position: absolute;
	color: white;
	top: 72%;
	left: 2.5%;
	width: 100%;
	font-size: 2rem;
	font-family:"微软雅黑";
	letter-spacing:0.7rem
}
.slide4 {
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.slide4>.p4_word1{
	position: absolute;
	top: 5%;
	left: 0;
	width: 100%;
	font-family: "微软雅黑";
	font-size: 1.5rem;
	color: white;
	letter-spacing:1px;
}
.slide4>.p4_word2{
	position: absolute;
	top: 9%;
	left: 5%;
	font-family: "微软雅黑";
	font-size: 2rem;
	color: white;
	letter-spacing:1px;
	text-align: left;
}
.slide4>.p4_word3{
	position: absolute;
	top: 15%;
	left: 5%;
	font-family: "微软雅黑";
	font-size: 2rem;
	color: white;
	letter-spacing:1px;
}
.slide4>.p4_pic1{
	position: absolute;
	top: 22%;
	left: 50%;
	width: 28rem;
	margin-left: -14rem;
}
.slide4>.p4_word4{
	position: absolute;
	top: 68%;
	left: 0;
	width: 100%;
	font-family: "微软雅黑";
	font-size: 1.5rem;
	color: white;
	letter-spacing:2px;
}
.slide4>.p4_word5{
	position: absolute;
	top: 73%;
	left: 0;
	width: 100%;
	font-family: "微软雅黑";
	font-size: 1.5rem;
	color: white;
	letter-spacing:2px;
}
.slide4>.p3_pic2{
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
}
.slide5 {
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.slide5>.bmlogo{
	position: absolute;
	top: 4rem;
	left: 15%;
	width: 8rem;
}
.slide5>.p5_word1{
	position: absolute;
	top: 4.5rem;
	left: 43%;
	font-size: 2rem;
	color: white;
	font-family:"微软雅黑";
}
.slide5>.p5_word2{
	position: absolute;
	top: 16%;
	left: 0%;
	width: 100%;
	font-size: 1.5rem;
	color: white;
	border: 0;
	padding: 0;
	font-family:"微软雅黑";
	letter-spacing:2px;
}
.slide5>.map{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
.slide5>.p5_pos1{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
.slide5>.p5_pos2{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
.slide5>.p5_pos3{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
.slide5>.p5_pos4{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
.slide5>.p5_word3{
	position: absolute;
	top: 70%;
	left: 5%;
	font-size: 1.3rem;
	color: white;
	font-family:"微软雅黑";
	letter-spacing:2px;
}
.slide5>.p5_word4{
	position: absolute;
	top: 75%;
	left: 5%;
	font-size: 1.3rem;
	color: white;
	font-family:"微软雅黑";
	letter-spacing:2px;
}
.slide5>.p5_word5{
	position: absolute;
	top: 80%;
	left: 5%;
	font-size: 1.3rem;
	color: white;
	font-family:"微软雅黑";
	letter-spacing:2px;
}
.slide5>.p5_word6{
	position: absolute;
	top: 85%;
	left: 5%;
	font-size: 1.3rem;
	color: white;
	font-family:"微软雅黑";
	letter-spacing:2px;
}
.slide6 {
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.slide6>.p6_pic1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.slide6>.p6_pic2{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.slide6>.bmlogo{
	position: absolute;
	top: 4rem;
	left: 15%;
	width: 8rem;
}
.slide6>.p6_word1{
	position: absolute;
	top: 4.5rem;
	left: 43%;
	font-size: 2rem;
	color: white;
	font-family:"微软雅黑";
}
.slide6>.p6_word2{
	position: absolute;
	top: 16%;
	left: 0%;
	width: 100%;
	font-size: 1.7rem;
	color: white;
	border: 0;
	padding: 0;
	font-family:"微软雅黑";
	letter-spacing:3px;
}
.slide7 {
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.slide7>.p7_word1{
	position: absolute;
	top: 6%;
	left: 0%;
	width: 100%;
	font-size: 2rem;
	color: white;
	font-family:"微软雅黑";
}
.slide7>.p7_word2{
	position: absolute;
	top: 16%;
	left: 5%;
	width: 90%;
}
.slide8 {
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.slide8>.p8_word1{
	position: absolute;
	top: 6%;
	left: 0%;
	width: 100%;
	font-size: 2.5rem;
	color: white;
	font-family:"微软雅黑";
}
.slide8>.p8_1{
	position: absolute;
	top: 17%;
	left: 5%;
	width: 90%;
}
.slide8>.p8_2{
	position: absolute;
	top: 41%;
	left: 5%;
	width: 90%;
}
.slide8>.p8_3{
	position: absolute;
	top: 65%;
	left: 5%;
	width: 90%;
}
.slide9 {
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.slide9>.bmlogo{
	position: absolute;
	top: 15%;
	right: 13.5%;
	width: 7rem;
}
.slide9>.p9_word1{
	position: absolute;
	top: 22%;
	right: 9.5%;
	font-size: 2rem;
	color: white;
	font-family:"微软雅黑";
	letter-spacing:3px;
}
.slide9>.p9_1{
	position: absolute;
	top: 7%;
	left: -19%;
	width: 130%;
}
