body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:90px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:70px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:70px;
}
#u253 {
  position:absolute;
  left:2px;
  top:27px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
