@charset "utf-8";
.button img:nth-child(1){
    	display: block
    }
    
    .button img:nth-child(2) {
    	display: none
    }
    .button:hover img:nth-child(1) {
    	display: none
    }
    .button:hover img:nth-child(2){
    	display: block
    }