@charset "utf-8";
html,
body {
	position: relative;
    height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper-container {
	width: 100%;
	height: 100%;
	background: url(../img/p1/bg.png);
	background-size:cover;
	-webkit-transition: background-image 1.2s;
	-moz-transition: background-image 1.2s;
}

.swiper-wrapper {
	/*display: none;*/
	-webkit-backface-visibility: hidden;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	/*background: #FF6347;*/
	position: relative;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#try1 {
	/*动画持续时间*/
	animate-duration: 1s;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	/*动画延迟时间*/
	animate-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	/*动画执行次数*/
	animate-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
}

.p1_main {
	height: 55%;
	width: 70%;
	position: absolute;
	left: 15%;
	top: 15%;
	/*background-color: black;*/
}
/*Page 1*/
.p1_uparc{position: absolute;width: 102%;top: 0;left: -5%;}
.p1_crown{position: absolute;width: 20%;top: 12%;left: 55%;}
.p1_lansemengxiang{position: absolute;width: 100%;top: 26%;left: 0;}
.p1_yueliangzhishang{position: absolute;width: 96%;top: 41%;left: 6%;}
.p1_downarc{position: absolute;width: 90%;top: 70%;left: 6%;}
.p1_triangle2{position: absolute;width: 20%;top: -22%;left: -5%;}
.p1_circle{position: absolute;width: 10%;top: -10%;left: 70%;}
.p1_triangle{position: absolute;width: 12%;top: 96%;left: 6%;}
.p1_line{position: absolute;width: 8%;height: 1.5%;top: 58%;left: -6%;}
.p1_line2{position: absolute;width: 18%;height: 2%;top: 71%;left: -15%;}
.p1_line3{position: absolute;width: 10%;height: 1.5%;top: 52%;left: 102%;}
.p1_triangle3{position: absolute;width: 8%;top: 85%;left: 88%;}
.p1_word{
	width: 130px;
	background-color: yellow;
	color: #007AFF;
	position: absolute;
	top: 130%;
	left: 50%;
	font-size:13px;
	padding: 2px;
	margin: -65px;
	font-family: "微软雅黑";
	font-weight:700;
}
.p1_word2{
	width: 80px;
	background-color: yellow;
	color: #007AFF;
	position: absolute;
	top: 132%;
	left: 50%;
	font-size:13px;
	padding: 2px;
	margin: -40px;
	font-family: "微软雅黑";
	font-weight:700;
}
/*P2 PAGE*/
.p2_main{
	position: absolute;
	height: 80%;
	width: 90%;
	left: 5%;
	top: 10%;
	/*background-color: black;*/
}
.Runway{position: absolute;width: 90%;top: 0;left: 0;}
.flag{position: absolute;width: 42px;top: -36px;left: 20%;}
/*武汉*/
.wuhan_box{position: absolute;width:75px;height: 50px;/*background-color: yellow;*/top: 5%;left: 32%;}
.wuhan{position: absolute;width: 85%;left: 0;top: 0;}
.wuhan_star{position: absolute;width: 6px;height: 5px;left: -10%;top: 25%;}
.wuhan_circle{position: absolute;width: 6px;height: 5px;left: -20%;top: 37%;}
.wuhan_2{position: absolute;width: 17px;height: 7px;left: -28%;top: 60%;}
.wuhan_3{position: absolute;width: 12px;height: 8px;left: 86%;top: 30%;}
/*成都*/
.chengdu_box{position: absolute;width:75px;height: 50px;/*background-color: yellow;*/top: 30%;left: 15%;}
.chengdu{position: absolute;width: 75%;left: 0;top: 5%;}
.chengdu_star{position: absolute;width: 6px;height: 5px;left: -15%;top: 93%;}
.chengdu_2{position: absolute;width: 15px;height: 6px;left: -28%;top: 75%;}
.chengdu_circle{position: absolute;width: 3px;height: 3px;left: -20%;top: 37%;}
.chengdu_4{position: absolute;width: 2px;height: 2px;left: -28%;top: 55%;}
.chengdu_star2{position: absolute;width: 4px;height: 3px;left: -10%;top: 55%;}
/*西安'*/
.xian_box{position: absolute;width:75px;height: 50px;/*background-color: yellow;*/top: 52%;left: 25%;}
.xian{position: absolute;width: 88%;left: 0;top: 4%;}
.xian_2{position: absolute;width: 15px;height: 7px;left: -25%;top: 60%;}
.xian_3{position: absolute;width: 15px;height: 6px;left: 85%;top: 50%;}
.xian_4{position: absolute;width: 3px;height: 3px;left: -24%;top: 30%;}
.xian_1{position: absolute;width: 3px;height: 3px;left: -10%;top: 40%;}
.xian_5{position: absolute;width: 2px;height: 2px;left: -16%;top: 47%;}
/*北京*/
.beijing_box{position: absolute;width:80px;height: 40px;/*background-color: yellow;*/top: 62%;left: 72%;}
.beijing{position: absolute;width: 80%;top: 0;left: 0;}
.beijing_1{position: absolute;width: 15px;height: 15px;top: 50%;left: -20%;}
.beijing_2{position: absolute;width: 18px;height: 30px;top: 30%;left: 83%;}
/*上海*/
.shanghai_box{position: absolute;width:80px;height: 40px;/*background-color: yellow;*/top: 88%;left: 67%;}
.shanghai{position: absolute;width: 80%;top: 0;left: 13%;}
.shanghai_1{position: absolute;width: 13px;height: 18px;top: 65%;left: -5%;}
.shanghai_2{position: absolute;width: 12px;height: 18px;top: 30%;left: 89%;}
/*PAGE 3*/
.p3_header{position: absolute;width: 90%;height: 10%;left: 5%;top: 5%;}
.p3_triangle{position: absolute;width: 40px;height: 40px;left: 5%;top: 5%;}
.p3_2{position: absolute;width: 28px;height: 24px;left: 80%;top: 20%;}
.p3_words{position: absolute;width: 84%;height: 40%;background-color: black;left: 8%;top: 16%;}
.p3_lou{position: absolute;width: 30%;height: 30%;left: 50%;top: 55%;}
.p3_wuhan{position: absolute;width: 140px;height: 158px;left: 0;top: 0;}
.p3_1{position: absolute;width: 22.5px;height: 13px;left: 120%;top: 30%;}
.p3_3{position: absolute;width: 34px;height: 20px;left: -35%;top: 45%;}
.p3_circle{position: absolute;width: 8px;height: 8px;left: -5%;top: 25%;}
/*PAGE 4*/
.p4_header{position: absolute;width: 80%;height: 20%;left: 10%;top: 5%;background-color: gainsboro;}
.p4_main{position: absolute;width: 84%;height: 60%;left: 8%;top: 28%;}
.p4_1b{position: absolute;width: 100%;left: 0%;top: -10%;}
.p4_2b{position: absolute;width: 100%;left: 0%;top: 26%;}
.p4_3b{position: absolute;width: 100%;left: 0%;top: 55%;}
.p4_4{position: absolute;width: 5%;left: 85%;top: 105%;}
.p4_1{position: absolute;width: 33px;height: 33px;left: 3%;top: 50%;}
.p4_2{position: absolute;width: 28px;height: 24px;left: 80%;top: 16%;}
.p4_3{position: absolute;width: 26px;height: 26px;left: 60%;top: 70%;}
#p4_title{
	width: 140px;
	height: 30px;
	background-color: yellow;
	transform:rotate(-10deg);
	-ms-transform:rotate(-10deg); /* IE 9 */
	-webkit-transform:rotate(-10deg); /* Safari and Chrome */
	font-size: 15px;
	font-family: "微软雅黑";
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -70px;
	margin-top: -15px;
}
/*PAGE 5*/
.p5_box1{position: absolute;width: 60%;height: 30%;top: 45%;left: 20%;background-color: black;}
.p5_box2{position: absolute;width: 40%;height: 20%;top: 15%;left: 15%;background-color: black;}
.p5_box3{position: absolute;width: 30%;height: 15%;top: 30%;left: 60%;background-color: black;}
.p5_box4{position: absolute;width: 20%;height: 10%;top: 40%;left: 5%;background-color: black;}
.p5_box5{position: absolute;width: 28%;height: 14%;top: 10%;left: 62%;background-color: black;}
.p5_1{position: absolute;width: 100%;left: 0;top: 0;}
.p5_2{position: absolute;width: 100%;left: 0;top: 0;}
.p5_3{position: absolute;width: 100%;left: 0;top: 0;}
.p5_4{position: absolute;width: 100%;left: 0;top: 0;}
.p5_5{position: absolute;width: 100%;left: 0;top: 0;}
.p5_7{position: absolute;width: 15%;left: -15%;top: 90%;}
.p5_8{position: absolute;width: 15%;left: 38%;top: 115%;}
/*PAGE 6*/
.p6_1{position: absolute;width: 40%;left: 30%;top: 15%;}
.p6_word{position: absolute;width: 50%;height: 50%;left: 25%;top: 27%;background-color: black;}
