body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u302_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:5px;
}
#u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
}
#u303 {
  position:absolute;
  left:2px;
  top:-7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
}
#u304 {
  position:absolute;
  left:8px;
  top:0px;
  width:85px;
  height:70px;
}
#u305 {
  position:absolute;
  left:2px;
  top:27px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:5px;
}
#u306 {
  position:absolute;
  left:0px;
  top:68px;
  width:100px;
  height:2px;
}
#u307 {
  position:absolute;
  left:2px;
  top:-7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
