body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:200px;
}
#u336 {
  position:absolute;
  left:2px;
  top:92px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u337 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:200px;
}
#u338 {
  position:absolute;
  left:2px;
  top:92px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
