body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u296 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
